@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* scrollbar */
.radio-input {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: 10px;
  /* border: 1px solid #ccc; */
  background-color: white;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: var(--color-main);
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: #fff;
  color: #fff;
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.ql-editor {
  min-height: 150px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
  
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color-main), var(--color-emphasis));
  border-radius: 10px;
}


.react-calendar {
  width: 100%;
  max-width: 500px;
  border: none;
  font-family: Arial, sans-serif;
}

.calendar-tile {
  position: relative;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.calendar-tile:hover {
  background-color: #f0f0f0;
}

.calendar-tile:hover::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2563eb;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s;
}

.calendar-tile::after {
  opacity: 0;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */